<h1>Here Is Your Profile</h1>

<%=link_to "Create Post", new_user_post_path(@user, @post)%>

<br>

<%=render "user", user: @user %>

<%=link_to "Edit Profile", edit_user_path%>

<%=link_to "Delete User", user_path(params[:id]), method: :delete %>
